:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --hover-color: #2196F3;
  --darc-bg-color: #2F303A;
  --secondary-text-color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.menu-link{
    color: var(--main-title-color);
}
body {
  font-family: "Roboto";
}
.logo {
  font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: var(--hover-color);
}
.logo-span {
  color: #000;
}
/*!!!!!!!!!!!!!index!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!header!!!!!!!!!!!!!!!!!!*/
.header {
   font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
padding-top: 32px;
padding-bottom: 32px;
}
.nav-menu {
  list-style: none;
}
.nav-menu-link {
color: var(--main-title-color);
}
.nav-menu-link:hover {
color: var(--hover-color);
}
.contact-list {
  list-style: none;
}
.email {
color: var(--main-text-color);
}
.phone-number {
color: var(--main-text-color);
}
.email:hover {
color: var(--hover-color);
}
.phone-number:hover {
color: var(--hover-color);
}
/*!!!!!!!!!!!!!!!!main!!!!!!!!!!!*/
.hero {
  width: 1600px;
  height: 600px;
  background: var(--darc-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-family: var(--font-family);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #fff;
}
.hero-button {
  width: 216px;
height: 50px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 32px;
padding-left: 32px;
border-radius: 4px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: var(--hover-color);
}
.speciality {
  padding-top: 94px;
}
.speciality-list .team {
  letter-spacing: 0.03em;
}
.speciality-list {
  list-style: none;
}
.speciality-title {
  display: none;
}
.speciality-item-title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
text-transform: uppercase;
color: var(--main-title-color);
}
.speciality-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--main-text-color);
}
.action {
  padding-top: 94px;
  padding-bottom: 94px;
}
.action-title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: var(--main-title-color);
}
.action-list {
  list-style: none;
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
text-align: center;
color: var(--main-title-color);
}
.team-list {
  list-style: none;
}
.team-name {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
text-align: center;
color: var(--main-title-color);
}
.team-position {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
text-align: center;
color: var(--main-text-color);
}
/*!!!!!!!!!!!!!!!!!!footer!!!!!!!!!!!!!*/
.footer {
  width: 1600px;
  background: var(--darc-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #fff;
}
.address-list {
  list-style: none;
}
.footer-contact {
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
/*!!!!!!!!!!!!!!!!!!Portfolio!!!!!!!!!!!!!!*/
.blocks {
  padding-top: 62px;
  padding-bottom: 34px;
}
.blocks-title {
  display: none;
}
.blocks-list {
  list-style: none;
}
.blocks-link {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
color: var(--main-title-color);
border-radius: 4px;
width: 125px;
height: 38px;
background: #f5f4fa;
}
.blocks-link:hover {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
color: #fff;
border-radius: 4px;
width: 73px;
height: 38px;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
background: var(--hover-color);
}
.box {
  padding-bottom: 94px;
}
.box-list {
  list-style: none;
}
.box-title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--main-title-color);
}
.box-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--main-text-color);
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right:15px;
}