:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --hover-color: #2196F3;
  --darc-bg-color: #2F303A;
  --secondary-text-color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.menu-link{
    color: var(--main-title-color);
}
body {
  font-family: "Roboto";
}
.logo {
  font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: var(--hover-color);
}
.logo-span {
  color: #000;
}
.footer-logo-span {
  color: var(--secondary-text-color);
}
/*!!!!!!!!!!!!!index!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!header!!!!!!!!!!!!!!!!!!*/
.header {
   font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
padding-top: 32px;
padding-bottom: 32px;
border-bottom: 1px solid #ececec;
}
.nav-menu {
  list-style: none;
}
.nav-menu-link {
color: var(--main-title-color);
}
.nav-menu-link:hover {
color: var(--hover-color);
}
.contact-list {
  list-style: none;
}
.email {
color: var(--main-text-color);
}
.phone-number {
color: var(--main-text-color);
}
.email:hover {
color: var(--hover-color);
}
.phone-number:hover {
color: var(--hover-color);
}
/*!!!!!!!!!!!!!!!!main!!!!!!!!!!!*/
.hero {
  width: 1600px;
  height: 600px;
  background: var(--darc-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/herobg.png");
  background-repeat: no-repeat;
}
.hero-title {
  font-family: var(--font-family);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #fff;
}
.hero-button {
  width: 216px;
height: 50px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 32px;
padding-left: 32px;
border-radius: 4px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: var(--hover-color);
}
.speciality {
  padding-top: 94px;
}
.speciality-list .team {
  letter-spacing: 0.03em;
}
.speciality-list {
  list-style: none;
}
.speciality-title {
  display: none;
}
.speciality-item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  width: 270px;
  height: 120px;
  background-image: url("../images/rectangle.png");
  background-color:#f5f4fa;
  border-radius: 4px;
  background-position: center;
  margin-bottom: 30px;
}
.speciality-item:nth-child(1)::before {
  background-image: url("../images/antenna.png");
}
.speciality-item:nth-child(2)::before {
  background-image: url("../images/clock.png");
}
.speciality-item:nth-child(3)::before {
  background-image: url("../images/diagram.png");
}
.speciality-item:nth-child(4)::before {
  background-image: url("../images/astronaut.png");
}
.speciality-item-title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
text-transform: uppercase;
color: var(--main-title-color);
}
.speciality-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--main-text-color);
}
.action {
  padding-top: 94px;
  padding-bottom: 94px;
}
.action-title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: var(--main-title-color);
}
.action-list {
  list-style: none;
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-image: url("../images/teambg.png");
}
.team-title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
text-align: center;
color: var(--main-title-color);
}
.team-list {
  list-style: none;
}
.team-item {
  background-image: url("../images/teamcardbg.jpg");
  height: 368px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
}
.team-name {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
text-align: center;
color: var(--main-title-color);
padding-top: 30px;
padding-bottom: 10px;
}
.team-position {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
text-align: center;
color: var(--main-text-color);
padding-bottom: 30px;
}
/*!!!!!!!!!!!!!!!!!!footer!!!!!!!!!!!!!*/
.footer {
  /* width: 1600px; */
  background: var(--darc-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
.address-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #fff;
}
.address-list {
  list-style: none;
}
.footer-contact {
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
/*!!!!!!!!!!!!!!!!!!Portfolio!!!!!!!!!!!!!!*/
.blocks {
  padding-top: 62px;
  padding-bottom: 34px;
}
.blocks-title {
  display: none;
}
.blocks-list {
  list-style: none;
}
.blocks-link {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
color: var(--main-title-color);
border-radius: 4px;
width: 125px;
height: 38px;
background: #f5f4fa;
padding: 6px 22px;
}
.blocks-link:hover {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
color: #fff;
border-radius: 4px;
width: 73px;
height: 38px;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
background: var(--hover-color);
padding: 6px 25px;
}
.box-position {
  padding-bottom: 94px;
}
.boxes {
  display: none;
}
.box-list {
  list-style: none;
}
.box-item {
  /* width="370" height="294" */
  flex-basis: calc((100% - 2 * 30px) / 3);
  background-image: url("../images/portfoliocardbg.jpg");
  border: 1px solid #eee;
}
.box-item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.box-title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--main-title-color);
padding-top: 20px;
padding-bottom: 4px;
padding-left: 24px;
padding-right: 24px;
}
.box-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--main-text-color);
padding-bottom: 20px;
padding-left: 24px;
padding-right: 24px;
}
/* !!!!!!!!!!!Flex!!!!!!!!!!111 */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right:15px;
}
.header-position {
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  column-gap: 50px;
}
.contact-list {
  display: flex;
  column-gap: 50px;
  margin-left: auto;
}
.logo {
  padding-right: 94px;
}
/* flex main-html */
.hero-position {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: center;
}
.speciality-list {
  display: flex;
  column-gap: 30px;
}
.action-position {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 50px;
}
.action-title {
  display: flex;
}
.action-list {
  display: flex;
  column-gap: 30px;
}
.team-position{
  display: flex;
  justify-content: center;
  row-gap: 50px;
  flex-wrap: wrap;
}
.team-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
/* !!!!!!!!!!!!footer!!!!!!!!!!!!!!! */
.footer-position {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
/* !!!!!!!!!!!!!!!!!main portfolio!!!!!!!!!!! */
.blocks-list {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 8px;
}
.box-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}